{#
  /**
   * @file
   * Default theme implementation to display a easy responsive images.
   *
   * Available variables:
   * - url: An optional URL the image can be linked to.
   * - src: The transformed src tag for the image, using the smallest defined
   *   width.
   * - srcset[]: The srcset of the transformed image, consisting of transformed
   *   url, transformed width & calculated height (if aspect ratio is used),
   *   and the srcset_url
   * - item_attributes[]: attributes for the wrapper
   * - view_mode: The view mode of the image.
   *
   * @see EasyResponsiveImagesFormatter
   *
   * @ingroup themeable
   */
#}

{{ attach_library('easy_responsive_images/resizer') }}

{% set easy_responsive_images_srcset = [] %}
{% for source in srcset %}
  {% set easy_responsive_images_srcset = easy_responsive_images_srcset|merge([source.srcset_url]) %}
{% endfor %}

<img
  src="{{ src }}"
  data-srcset="{{ easy_responsive_images_srcset|join(',') }}"
  {{ item_attributes }}
  />
